$black: black;
$white: white;
$lightgray:#e1dcd9; 
$darkgray: #414143; 
$lightbrown:#8e8781;
$brown:#a67f78;
$lightblue:#a4caea;

$darkblue:#304295;
$deepblue:#26435a;
$skin:#a1c3de;

$color1: rgb(236, 236, 236);
$color2: rgb(88, 180, 34);
$color3: rgb(70, 69, 69);
$color4: #00b7ee;
$color5:#ff7b42;
$color6:#01446e;
$color7:#858f8b;