
@media only screen and (max-width: 375px){
    p{
        font-size: 10px;
    }
 .la-picbox{
     display: none;
 }
}
    

@media only screen and (min-width: 768px){
    .la-picbox{
        position: relative;
        top: 10vh;
        width: 100vw;
        height: 54vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    .la-item{
        @include vCenter;
        width: 20vw;
        height: 18vh;
        margin: 0;
        padding: 0;
        background:$color4;
        p{
            font-family: "roboto", sans-serif;
            color: white;
            text-transform: uppercase;
            }
        }
    
    .la-itemcolor1{
        background:$color6;
                }
    .la-itemcolor2{
        background:$color5; 
                }
    .la-itemcolor3{
        background:$color7; 
                }
    
}
@media only screen and (min-width: 992px)
{
    .la-picbox{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    .la-item{
        @include vCenter;
        width: 20vw;
        height: 33.33vh;
        margin: 0;
        padding: 0;
        background:$color4;
        p{
            font-family: "roboto", sans-serif;
            color: white;
            font-size: 16px;
            text-transform: uppercase;
            }
        }
    
    .la-itemcolor1{
        background:$color6;
                }
    .la-itemcolor2{
        background:$color5; 
                }
    .la-itemcolor3{
        background:$color7; 
                }
    
}