.linetitle{
    width: 100vw;
    color: $color5;
    font-size: 2.25em;
    font-weight: 80;
    border-bottom: 1px solid $color5;
    position: relative;
    right: 22.5vw;
    text-align: right;
    margin-right: 0;
}

