.linetitle{
    color: $color2;
    font-size: 2.25em;
    font-weight: 80;
    margin-block-end: 1em;
    border-bottom: 1px solid $color2;
    position: relative;
    right: 45vw;
    text-align: right;
    width: 100vw;
}
.linetitleh2{
        color: $color2;
        font-size: 2.25em;
        font-weight: 80;
        margin-block-end: 1em;
        border-bottom: 1px solid $color2;
        position: relative;
        right: 45vw;
        top: 3em;
        text-align: right;
        width: 100vw;
}
